{% extends 'base.html' %} {% block title %} {{ plant.name }} {% endblock %} {% block content %}
<section class="home">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="card" style="border: 0cap;">
              <div class="card-body">
                <img src="{{ plant.img.url }}" height="300" width="350" />
              </div>
            </div>

            <br />
            
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Description
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <h3>{{ plant.scientific_name }}</h3>
                    <h6>Family</h6>
                    <p>{{ plant.family }}</p>
                    <h6>Origin</h6>
                    <p>{{ plant.origin }}</p>
                    <h6>Description</h6>
                    <p>{{ plant.description }}</p>
                    <h6>Environment</h6>
                    <p>{{ plant.environment }}</p>
                    <h6>Landscape Use</h6>
                    <p>{{ plant.landscape_use }}</p>
                  </div>
                </div>
              </div>

              <br />
              <div
                class="accordion-item"
                style="border: solid #dee2e6; border-width: 1px"
              >
                <h2 class="accordion-header" id="headingTwo">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    Care Instruction
                  </button>
                </h2>
                <div
                  id="collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>{{ plant.care_tips }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h3>{{ plant.name }}</h3>
            <p>{{ plant.scientific_name }}</p>
            <p>Price: Rs.{{ plant.price }}</p>
            <a
              href="{% url 'cart:add_to_cart' plant.id %}"
              class="btn btn-danger"
              >Add to Cart</a
            >
            <button class="btn btn-primary">Buy Now</button>
            <hr />

            <div class="row">
              <div class="col-sm-6">
                <h4>{{ plant.watering_needs }}</h4>
                <p>Water Requirement</p>

                <h4>{{ plant.sunlight_requirements }}</h4>
                <p>Sunlight Requirement</p>

                <h4>{{ plant.size }}</h4>
                <p>Size</p>
              </div>

              <div class="col-sm-6">
                <h4>{{ plant.fragrance }}</h4>
                <p>Fragrance</p>

                <h4>{{ plant.flower_color }}</h4>
                <p>Colour of Flower</p>

                <h4>{{ plant.blooming_period }}</h4>
                <p>Blooming Period</p>
              </div>
            </div>

            <hr />
            <div>
              <h5>Product Description</h5>
              <p>{{ plant.product_description }}</p>
            </div>

            {% if user.is_superuser %}
            <hr />
            <div>
              <a class="btn btn-primary" href="{% url 'editplant' plant.pk %}"
                >Edit</a
              >

              <a class="btn btn-danger" href="{% url 'deleteplant' plant.pk %}"
                >Delete</a
              >
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  let btn = document.getElementsByClassName("collapse");

  btn[0].addEventListener("click", function () {
    this.classList.toggle("active");
    let content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
</script>
{% endblock %}
